beautifulsoup4==4.13.4
numpy==2.2.6
opencv_contrib_python==4.11.0.86
opencv_python==4.11.0.86
pandas==2.2.3
Pillow==11.2.1
pinecone==7.0.1
protobuf==4.25.3
pytesseract==0.3.13
pytesseract>=0.3.13
python-dotenv==1.1.0
rapidfuzz==3.13.0
Requests==2.32.3
selenium==4.33.0
sentence_transformers==4.1.0
torch==2.7.0
transformers==4.52.3
webdriver_manager==4.0.2
python==3.12.2

